.facebook{color: #3b5998;}
.gmail{color: #f14336;}
.github{color: #333;}
.stack-overflow{color: #fe7a15;}
.medium{color: #000;}
.whatsapp{color: #25d366;}
.skype{color: #00aff0;}
.linked-in{color: #0976b4;}
.js{color: #f7df1e;}
.react{color: #00d8ff;}
.php{color: #8892be;}
.angular{color: #b52e31;}
.nodejs{color: #6cc24a;}
.vuejs{color: #42b883;}
.laravel{color: #f55247;}
.database{color: #4187c1;}
.gitlab{color: #fca326;}
.bitbucket{color: #205081;}
.trello{color: #256a92;}
.jira{color: #2580f8;}
.bug{color: #ff4c4c;}
.python{color: #456E9C;}